# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node / Next
node_modules/
.next/
out/
